// Files in shared/styles will be used as global stylesheets on your site,
// as well as in the component browser and screenshots.

:root {
    --font-family: "TT Norms Pro", system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    --font-size-extra-large: 48px;
    --font-size-large: 36px;
    --font-size-medium: 24px;
    --font-size-small: 14px;
    --font-size-body: 16px;
    --font-size-ui: 16px;

    --font-weight-large: 700;
    --font-weight-body: 400;
    --font-weight-ui: bold;

    --line-height-extra-large: 55px;
    --line-height-large: 41px;
    --line-height-medium: 30px;
    --line-height-small: 18px;
    --line-height-body: 24px;

    --color-primary: #FFFFFF;
    --color-primary-dark: #000000;
    --color-primary-light: #666666;

    --color-secondary: #444444;
    --color-secondary-dark: #354361;
    --color-secondary-light: #EEEEEE;

    --color-carbon: #393939;

    --color-body: #393939;
    --color-light: #034ad8;

    --radius: 12px;
    --radius-image: 20px;
}

$breakpoint-mobile: 599px;

html {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(167.41deg, #00000 100%, #00000 100%, #E00000 100%);
}

html,
body {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    color: var(--color-body);
    margin: 0;
    padding: 0;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

h1 {
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-large);
    line-height: var(--line-height-extra-large);
}

h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-large);
    line-height: var(--line-height-large);
}

h3 {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);
    line-height: var(--line-height-medium);
}

h4 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-body);
    line-height: var(--line-height-body);
}